.sidebar {
  background-color: rgb(229, 231, 176);
  padding: 1.5rem;
  height: 100vh;
}

.sidebar-nav-menu {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
  list-style: none;
  padding: 0;
}
