body {
  background-color: rgb(242, 246, 200);
}

.layout-container {
  display: grid;
  grid-template-columns: 240px 1fr;
  min-height: alc(100vh - 64px);
}

main {
  padding: 2rem;
}



/* mobile breakpoint */
@media (max-width: 768px) {
  .app-layout {
    grid-template-columns: 1fr;
  }

  .sidebar {
    display: none;
  }
}
